---
import Layout from '../layouts/Layout.astro';
import TopPage from '../components/TopPage.astro';
// import logo from '/img/logo_new.svg';
---

<Layout title="Contact" page="contact">
  <TopPage />
  <h1 class="section__title">Contact</h1>
  <section class="section section__contact">
    <form action="" method="post" class="contact__form" id="form">
      <h2>REQUEST SERVICE</h2>
      <div class="input-group">
        <input type="text" id="name" name="name" placeholder=" " />
        <label for="name">Name</label>
      </div>
      <div class="input-group">
        <input type="email" id="email" name="email" placeholder=" " />
        <label for="email">Email</label>
      </div>
      <div class="input-group">
        <input type="text" id="phone" name="phone" placeholder=" " />
        <label for="phone">Phone</label>
      </div>
      <div class="input-group">
        <input type="text" id="address" name="address" placeholder=" " />
        <label for="address">Address</label>
      </div>
      <div class="input-group text-group">
        <textarea id="msg" placeholder=" " name="msg"></textarea>
        <label for="msg">Description of Problem</label>
      </div>
      <footer class="contact__form-footer">
        <div id="notes"></div>
        <button class="btn-send" type="submit">Send</button>
      </footer>
    </form>
    <div class="data">
      <img src="/img/logo_new.svg" alt="Logotipo" />
      <p>QUALITY SERVICE LICENSED - BONDED - INSURED</p>
      <p>100% SATISFACTION GUARANTEED</p>
      <p class="phone"><a href="tel:7604092549">TEL: 760.409.2549</a></p>
      <!-- <p>LA QUINTA PLUMBING SOLUTION INC.</p> -->
      <p>PO Box 6413, La Quinta CA. 92253</p>
      <p>
        <a href="mailto:info@laquintaplumbingsolutions.com"
          >info@laquintaplumbingsolutions.com</a
        >
      </p>
      <p>SERVING THE COACHELLA VALLEY</p>
    </div>
  </section>
</Layout>
<script is:inline src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
></script>
<script is:inline>
  const form = document.getElementById('form');
  const notes = form.querySelector('#notes');
  const button = form.querySelector('button');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    button.innerHTML = '<img src="/loading1.svg"/>';
    button.classList.add('active');
    const formData = new FormData(e.target);
    try {
      const res = await axios.post(
        'https://laquintaplumbingsolutions.com/php/email.php',
        formData
      );
      const dataRes = res.data;
      if (dataRes.status === 400) {
        const miExcepcionUsuario = new ExceptionUsuario(dataRes.msg);
        throw miExcepcionUsuario;
      }
      notes.classList.remove('error');
      notes.classList.add('success');
      notes.innerHTML = dataRes.msg;
    } catch (err) {
      notes.classList.add('error');
      notes.innerHTML = err.msg;
    } finally {
      button.innerHTML = 'SEND';
      button.classList.remove('active');
    }
  });
</script>
